backend:
  name: git-gateway
  branch: main

media_folder: "assets/uploads"
public_folder: "/assets/uploads"

collections:
  - name: "projects"
    label: "Projects"
    folder: "data/projects"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Project Name", name: "title", widget: "string" }
      - { label: "Location", name: "location", widget: "string" }
      - { label: "Price", name: "price", widget: "string" }
      - { label: "Description", name: "description", widget: "text" }
      - { label: "Image", name: "image", widget: "image" }
