backend:
  name: git-gateway
  branch: main

media_folder: "assets/uploads"
public_folder: "/assets/uploads"

publish_mode: editorial_workflow

collections:
  - name: "projects"
    label: "Projects"
    folder: "data/projects"
    create: true
    slug: "{{slug}}"
    fields:
    - label: "Image"
  name: "image"
  widget: "image"
  required: true
  media_library:
    name: "file_system"
    config:
      allow_multiple: false
      folder: "public/assets/uploads"      # where files will be saved
      public_folder: "/assets/uploads"     # path to use in your website
